@model IEnumerable<CafeAlessio.Web.Areas.Admin.Models.SiteMenuViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameHun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameIta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameHun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameIta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
